fastapi==0.110.0
uvicorn==0.27.1
python-multipart==0.0.9
sqlalchemy==2.0.29
python-jose[cryptography]==3.3.0
slowapi==0.1.9
scikit-learn
xgboost
numpy
pandas
python-dotenv==1.0.1
pytest==8.1.1
httpx==0.27.0
joblib
